/* Para fazer um efeito de imagem vazando com linear gradient, a cor primaria vai até uma % e a segunda inicia-se em 0 */

.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url('../../img/dec/top-right.svg') no-repeat top 40px right 20px;
}

/* Posicionando o preço com position absolute 

 .bicicletas-imagem { 
  position: relative;
} 
.bicicletas-imagem span {
  background-color: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px; 
  position: absolute;
  top: 20px;
  right: 0px; 
}
*/

/* Criando com o grid */

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

/* Por padrão a div tenta ocupar todo o espaço então reposicionamos ela 
sendo start o começo, e end o final 
  place-self: start-end;*/

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background-color: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2, 
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

/* O padrão é expandir o tamanho do conteúdo no grid, alinhando o botão que é o 'a' */

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

/* Como separamos a lista, transformamos em item grid e adicionamos um gap */

.bicicletas ul { 
  display: grid;
  gap: 16px;
}

/* Como temos feito a separação, utilizando o '+', na classe bicicletas a partir da primeira li adicione margin-top:

  .bicicletas li + li {
  margin-top: 16px;
} */

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

/* Adicionando responsividade */

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a {
    place-self: start;
  }
}