.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

/* Como o h2 ficou flutuando, colocamos um max-width de 1200 para entrar no tamanho do container */

.bicicletas-lista h2 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Como há uma bike ao lado da outra, melhor usar flex */
/* Se eu tenho um máximo, tenho sempre que definir as margins */

/* Para permitir que o elemento vaze, mas não vaze o container pai, existe a propriedade overflow: scroll; */

/* Para ser mais específico, e não criar scroll para todos os lados, devemos definir o eixo e como auto, criando scroll somente se for necessário */
.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  /* flex-wrap: wrap;
  Para a lista quebrar qnd atingir um tamanho especifico */
}

/* O LI é o item flexível, porque o pai está display flex UL */

/* Agora terá no mínimo 280px por causa do flex: 1;*/

/* Sem definir um flex-wrap, vai criar um scroll par ao site todo */

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

/* Como o a é inline, mudamos para display block para selecionar todo o conteúdo, e não apenas as partes dos conteúdos */

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

/* Para centralizar os elementos, então foi definido o h3 como display flex */

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

/* Detalhe definido com um pseudo elemento */

/* No transition é possível definir também a propriedade da qual queremos animar, nesse caso, foi o "width" */

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width .2s; 
}

.bicicletas-lista a:hover h3::before {
  width: 24px;
}

/* Alinhando o preço ao topo, a soma da largura com a margin */

.bicicletas-lista li span {
  padding-left: 20px;
}

/* Adicionando responsividade a lista */

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}